body{
    background-image: url("../images/space.jpg");
    color: white;
    text-align: center;
}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    position: relative;
    left: -4%;
    z-index: 1;
    font-family: 'Press Start 2P', cursive;
}

.container{
    background-color: #18aba6;
    width: 40%;
    margin: 3% auto;
    padding: 2%;
    font-family: 'Baloo Bhai', cursive;
    font-size: 1.2rem;
}




@keyframes movement1 {
    from {left: -1000px}
    to {left: 1500px; right: -1500px;}
}

.ship1 {
    width: 100px;
    height: 100px;
    left: -1000px; 
    position: relative;
    

   
    animation-duration: 3s;
    animation-timing-function: linear;
} 

