body{
    background-image: url("../images/space.jpg");
    color: white;
    text-align: center;
}

.top{
    display: flex;
}

h1{
    position: relative;
    left: 34%;
    z-index: 1;
}

.container{
    background-color: #18aba6;
    width: 30%;
    margin: 3% auto;
    padding: 2%;
}




@keyframes movement1 {
    from {left: -1000px}
    to {left: 2000px; right: -2000px;}
}

.ship1 {
    width: 100px;
    height: 100px;
    left: -1000px; 
    position: relative;
    float: left;

   
    animation-duration: 4s;
    animation-timing-function: linear;
} 

